@page
@model Sun.Webapplication.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit Admin";
}

<div class="text-center">
    <h1 class="display-4 border-bottom p-3">ویرایش ادمین</h1>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p class="display-4 border-bottom p-3">@Model.Message</p>
    }
</div>

<form method="post">
    <div class="row">
        <div class="col-md-6 form-group text-right">
            <label asp-for="@Model.Admin.Name">نام</label>
            <input class="form-control" asp-for="@Model.Admin.Name" name="name" type="text" />
        </div>
        <div class="col-md-6 form-group text-right">
            <label asp-for="@Model.Admin.Phonenumber">شماره تلفن</label>
            <input class="form-control" asp-for="@Model.Admin.Phonenumber" name="phonenumber" type="text" />
        </div>
        <div class="col-md-6 form-group text-right">
            <label asp-for="@Model.Admin.Username">نام کاربری</label>
            <input class="form-control" asp-for="@Model.Admin.Username" name="username" type="text" />
        </div>
        <div class="col-md-6 form-group text-right">
            <label>دسترسی</label>
            <select class="form-control" asp-items="@Model.PremissionList" asp-for="@Model.Admin.Role.Id" name="roleId" id="roleId">
                <option value="0">سطح دسترسی را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-6 form-group text-right">
            <label asp-for="@Model.Admin.JoinDate">تاریخ عضویت</label>
            <input disabled class="form-control" asp-for="@Model.Admin.JoinDate" type="text" />
        </div>
        <input type="hidden" asp-for="@Model.Admin.Id" value="@Model.Admin.Id" />
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">
                ثبت ویرایش <span class="fa fa-save pr-1"></span>
            </button>
        </div>
    </div>
</form>