@page
@model IndexModel
@{
    ViewData["Title"] = "Categoreis";
}

<div class="text-center border-bottom">
    <h1 class="display-4 p-3">لیست دسته بندی ها</h1>
</div>

<form>
    <div class="row p-3">
        <div class="col-md-6 form-group">
            <input class="form-control text-right" name="name" id="name" type="text" placeholder="متن جستجو" />
        </div>
        <div class="col-md-6 form-group text-right">
            <div class="row">
                <button type="submit" class="btn btn-success m-1">
                    جستجو <span class="fa fa-search pr-1"></span>
                </button>
                <a asp-page="./Create" class="btn btn-warning m-1 text-white">
                    دسته بندی جدید <span class="fa fa-plus pr-1"></span>
                </a>
            </div>
        </div>
    </div>
</form>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-responsive-md table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>#</th>
                <th><small>نام</small></th>
                <th><small>تاریخ ایجاد</small></th>
                <th><small>ویرایش</small></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.productCategories.Count == 0)
            {
                <tr>
                    <th colspan="4">هیچ رکوردی وجود ندارد</th>
                </tr>
            }
            else
            {
                @foreach (var item in Model.productCategories)
                {
                    <tr>
                        <th>@item.Id</th>
                        <th>@item.Name</th>
                        <th>@item.CreationDate</th>
                        <th class="text-center">
                            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">
                                ویرایش <span class="fa fa-edit pr-1"></span>
                            </a>
                            <a class="btn btn-warning text-white" asp-page="./Info" asp-route-id="@item.Id">
                                کالا ها <span class="fa fa-info pr-1"></span>
                            </a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>